:root.theme-light {
  --title-color: #353430;
  --subtitle-color: #000028;
  --text-color: #353430;
  --text-bg-color: #ff8dcb;
  --title-color-header: #ff8dcb;
  --title-color-footer: #FF0070;
  --title-color-accent: #ffc2e6;
  --text-color-link: #353430;
  --shadow-color-link: #ff8dcb;
  --background-color: #FFF1F7;
  --hover-button-color:  rgba(50, 49, 45, 0.4);
  --background-image: url(/images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #353430;
    --subtitle-color: #000028;
    --text-color: #353430;
    --text-bg-color: #ff8dcb;
    --title-color-header: #ff8dcb;
    --title-color-footer: #FF0070;
    --title-color-accent: #ffc2e6;
    --text-color-link: #353430;
    --shadow-color-link: #ff8dcb;
    --background-color: #FFF1F7;
    --hover-button-color:  rgba(50, 49, 45, 0.4);
    --background-image-header: url(/images/cover-image-light.png);
    }

  .header__rec {
    display: none;
  }
}